* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.main {
    max-width: 1440px;
}
h3 {
    font-weight: 700;
    word-spacing: 2px;
    font-size: 20px;
    padding-bottom: 15px;
}
p {
    font-weight: 400;
    font-size: 15px;

}
.container {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 120px auto;
    padding: 20px 8px;
    border-radius: 15px;
}
.container .qr {
    text-align: center;
}
.container .qr img {
    max-width: 93%;
    border-radius: 10px;
    
}
.container .text-bottom {
    padding: 20px;
    text-align: center;
    
}
